{
    attributes = (
        {columnName = approved; name = approved; prototypeName = intBoolean; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = "insert_date"; 
            name = insertDate; 
            prototypeName = date; 
        }, 
        {
            allowsNull = Y; 
            columnName = "invoice_date"; 
            name = invoiceDate; 
            prototypeName = date; 
        }, 
        {
            columnName = "invoice_number"; 
            name = invoiceNumber; 
            prototypeName = longText; 
        }, 
        {columnName = paid; name = paid; prototypeName = intBoolean; }, 
        {
            allowsNull = Y; 
            columnName = "paid_date"; 
            name = paidDate; 
            prototypeName = date; 
        }, 
        {
            allowsNull = N; 
            columnName = "vendor_id"; 
            name = vendorID; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (
        approved, 
        id, 
        insertDate, 
        invoiceDate, 
        invoiceNumber, 
        paid, 
        paidDate, 
        vendorID
    ); 
    className = "com.eltekfw.model.Invoice"; 
    classProperties = (
        approved, 
        insertDate, 
        invoiceDate, 
        invoiceNumber, 
        paid, 
        paidDate, 
        savedDocs, 
        vendor
    ); 
    entityIndexes = (
        {
            attributes = (invoiceNumber); 
            constraint = distinct; 
            indexType = clustered; 
            name = "invoiceNumber_idx"; 
            order = asc; 
        }
    ); 
    externalName = invoice; 
    fetchSpecificationDictionary = {}; 
    name = Invoice; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = SavedDoc; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = invoiceID; sourceAttribute = id; }); 
            name = savedDocs; 
        }, 
        {
            destination = Vendor; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = vendorID; }); 
            name = vendor; 
        }
    ); 
}
