{
    attributes = (
        {
            columnName = administrator; 
            externalType = bool; 
            name = administrator; 
            prototypeName = intBoolean; 
        }, 
        {
            columnName = current; 
            externalType = bool; 
            name = current; 
            prototypeName = intBoolean; 
        }, 
        {
            allowsNull = Y; 
            columnName = "email_address"; 
            name = emailAddress; 
            prototypeName = longText; 
        }, 
        {columnName = "first_name"; name = firstName; prototypeName = longText; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = "last_name"; 
            name = lastName; 
            prototypeName = longText; 
        }, 
        {columnName = "login_name"; name = loginName; prototypeName = longText; }, 
        {columnName = password; name = password; prototypeName = longText; }, 
        {
            allowsNull = Y; 
            columnName = "phone_number"; 
            name = phoneNumber; 
            prototypeName = longText; 
        }, 
        {
            allowsNull = N; 
            columnName = "security_id"; 
            name = securityID; 
            prototypeName = id; 
        }
    ); 
    attributesUsedForLocking = (
        administrator, 
        current, 
        emailAddress, 
        firstName, 
        id, 
        lastName, 
        loginName, 
        password, 
        phoneNumber, 
        securityID
    ); 
    className = "com.eltekfw.model.Person"; 
    classProperties = (
        administrator, 
        current, 
        emailAddress, 
        firstName, 
        lastName, 
        loginName, 
        password, 
        phoneNumber, 
        preferences, 
        security, 
        vendors
    ); 
    externalName = person; 
    fetchSpecificationDictionary = {}; 
    name = Person; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Preference; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = personID; sourceAttribute = id; }); 
            name = preferences; 
            ownsDestination = Y; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = Security; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = securityID; }); 
            name = security; 
        }, 
        {
            destination = Vendor; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = personID; sourceAttribute = id; }); 
            name = vendors; 
        }
    ); 
}
