{
    attributes = (
        {
            columnName = current; 
            externalType = bool; 
            name = current; 
            prototypeName = intBoolean; 
        }, 
        {
            allowsNull = Y; 
            columnName = "email_address"; 
            name = emailAddress; 
            prototypeName = longText; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = "login_name"; name = loginName; prototypeName = longText; }, 
        {columnName = password; name = password; prototypeName = longText; }, 
        {
            allowsNull = N; 
            columnName = "person_id"; 
            name = personID; 
            prototypeName = id; 
        }, 
        {
            allowsNull = Y; 
            columnName = "phone_number"; 
            name = phoneNumber; 
            prototypeName = longText; 
        }, 
        {columnName = "vendor_name"; name = vendorName; prototypeName = longText; }
    ); 
    attributesUsedForLocking = (
        current, 
        emailAddress, 
        id, 
        loginName, 
        password, 
        personID, 
        phoneNumber, 
        vendorName
    ); 
    className = "com.eltekfw.model.Vendor"; 
    classProperties = (
        current, 
        emailAddress, 
        invoices, 
        loginName, 
        password, 
        persons, 
        phoneNumber, 
        vendorName
    ); 
    externalName = vendor; 
    fetchSpecificationDictionary = {}; 
    name = Vendor; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Invoice; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = vendorID; sourceAttribute = id; }); 
            name = invoices; 
        }, 
        {definition = "personVendors.person"; name = persons; }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = PersonVendor; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = vendorId; sourceAttribute = id; }); 
            name = personVendors; 
            propagatesPrimaryKey = Y; 
        }
    ); 
}
